.imager-edit-container .toolbar {
    position: absolute;
}

#imagers {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.imager-test {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
}

.imager-test.custom-quality-visible {
    margin-bottom: 200px;
}

.image-container {
    margin: 0;
    min-width: 300px;
    margin-right: 30px;
    text-align: left;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

ul.toolbar {
    min-width: 300px;
    margin-bottom: auto;
    width: 100%;
}

ul.toolbar,
ul.toolbar ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1200 !important;
    background: white;
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(240, 240, 240);
}

ul.toolbar ul {
    z-index: 202 !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

ul.toolbar li {
    list-style-type: none;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: white;
}

ul.toolbar li a {
    color: #333;
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 32px;
}

ul.toolbar li a:focus {
    outline: none;
}

ul.toolbar li a i {
    pointer-events: none;
}

ul.toolbar li a:hover {
    color: white;
    background: #1f78d8;
}

ul.toolbar li a.active {
    outline: none;
    background-color: #1f78d8;
    color: #fff;
}

ul.toolbar .group-items-container {
    padding: 0;
}

ul.toolbar.toolbar-rightTop {
    width: 32px;
    right: -32px;
    top: 0;
    left: auto;
}

ul.toolbar.toolbar-topLeft {
    height: auto;
    left: 0;
    right: auto;
    top: -32px;
    bottom: auto;
}

ul.toolbar.toolbar-topRight {
    width: auto;
    height: auto;
    left: auto;
    right: 0;
    top: -32px;
    bottom: auto;
}

ul.toolbar.toolbar-bottomLeft {
    width: 100%;
    height: auto;
    left: 0;
    right: auto;
    top: auto !important;
    bottom: -32px;
}

.toolbar-tooltip {
    position: absolute;
    background: black;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    padding: 5px 8px;
    transition: opacity 0.2s;
    opacity: 0;
    z-index: 99999;
    display: block;
    pointer-events: none
}

.toolbar-tooltip.active {
    opacity: 1;

}

.imager-preview {
    margin-top: 10px;

    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.imager-preview-image {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100%;
}

.redactor-editor .imager-preview-image {
    margin-left: 15px;
    margin-right: 15px;
}

.imager-edit-container {
    position: absolute;
    z-index: 2004;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    outline: none;
}

.imager-edit-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;

}

.file-selector {
    padding-top: 20px;
    padding-bottom: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modaljs-overlay.under-edit-box {
    z-index: 2000;
}

.modaljs.under-edit-box {
    z-index: 2001;
}

.overlay-message-wrapper {
    cursor: wait;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3000;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.overlay-message {
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.overlay-message .action-button {
    width: auto;
    background: whitesmoke;
    border: 1px solid #CCCBCB;
    padding: 5px 10px;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

form.custom-quality {
    margin-bottom: 20px;
}

form.custom-quality .size-in-kb {
    margin-left: 20px;
}

form.custom-quality .input-group-addon {
    width: 1px;
}

input#imager-quality-custom {
    width: 100px;
}

.imager-selector-container {
    padding: 10px;
    position: absolute;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(223, 223, 223);
    position: absolute;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imager-quality-standalone .imager-quality-wrapper {
    position: absolute;
    height: 120px;
    bottom: -120px;
    left: 0;
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(240, 240, 240);
    min-width: 300px;
}

.imager-quality-standalone .imager-quality-wrapper.custom-quality-visible {
    height: 200px;
    bottom: -200px;
}

.imager-crop-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1300;
}

.imager-crop-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.crop-corner {
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(60, 58, 58);
    background: rgb(255, 255, 255);
    cursor: url(assets/cursor-fa-crop-right.cur), crosshair;
    z-index: 1301;
}

.crop-top-left {
    left: 0;
    top: 0;
    cursor: nwse-resize;
}

.crop-top-right {
    right: 0;
    top: 0;
    cursor: nesw-resize;
}

.crop-bottom-right {
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
}

.crop-bottom-left {
    left: 0;
    bottom: 0;
    cursor: nesw-resize;
}

.crop-border {
    background: url(assets/border.gif);
    position: absolute;
}

.crop-border.crop-border-top {
    width: 100%;
    height: 1px;
    top: 4px;
}

.crop-border.crop-border-right {
    width: 1px;
    height: 100%;
    right: 2px;
}

.crop-border.crop-border-bottom {
    width: 100%;
    height: 1px;
    bottom: 2px;
}

.crop-border.crop-border-left {
    width: 1px;
    height: 100%;
    left: 4px;
}

.btn-delete {
    float: right;
}

.btn-delete a {
    color: #B32525 !important;
}

.modaljs.canvas-properties {
    width: 350px;
}

.canvas-properties .form-inline input,
.canvas-properties .form-inline select {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
}

.canvas-properties .image-size-form label {
    display: block;
}

.image-size-form input {
    width: 120px;
    display: inline-block;
}

.image-size-form span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.image-properties input[type="checkbox"] {
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.resize-square {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 20px;
    height: 20px;
    background: black;
    z-index: 1101;
    cursor: nwse-resize;
}

.imager-rotate-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1300;
}

.imager-rotate-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.rotate-corner {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 25px;
    border: 1px solid rgb(60, 58, 58);
    background: rgb(255, 255, 255);
    cursor: url(assets/cursor-fa-rotate-right.cur), crosshair;
    z-index: 1301;
}

.rotate-top-left {
    left: 0;
    top: 0;
}

.rotate-top-right {
    right: 0;
    top: 0;
}

.rotate-bottom-right {
    right: 0;
    bottom: 0;
}

.rotate-bottom-left {
    left: 0;
    bottom: 0;
}

.rotate-border {
    background: url(assets/border.gif);
    position: absolute;
}

.rotate-border.rotate-border-top {
    width: 100%;
    height: 1px;
    top: 4px;
}

.rotate-border.rotate-border-right {
    width: 1px;
    height: 100%;
    right: 2px;
}

.rotate-border.rotate-border-bottom {
    width: 100%;
    height: 1px;
    bottom: 2px;
}

.rotate-border.rotate-border-left {
    width: 1px;
    height: 100%;
    left: 4px;
}

.btn-rorate-90 i:after {
    content: '90';
    position: absolute;
    font-size: 14px;
}

.btn-save {
    float: right;
}


.drop-area {
    width: 100%;
    height: 50px;
    line-height: 45px;
    margin-top: 30px;
    border: 3px dashed lightgrey;
    border-radius: 5px;
    text-align: center;
}

.drop-area.hover {
    border-color: green;
}

.file-selector .error-container {
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #BD6E6E;
    padding: 9px;
    background: #FFDADA;
}