input{
    cursor: pointer;
}
progress[value]{
    appearance: none;
    height: 0.5em;
    width: 230px;
}
.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}
#sidebar.active {
    margin-left: -310px;
}
#sidebar{
    min-width: 310px;
    max-width: 310px;
    min-height: 100vh;
    color: #ffffff;
    transition: all 0.3s;
    padding: 0;
    margin-top: 45px;
}
#sidebar .chatroom-container{
    position: fixed;
    width: 310px;
    height: 95vh;
    margin-top: -4vh;
    display: flex;
    flex-direction: column;
}
#sidebar .chatroom-container .chatroom{
    height: 35px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background: #1d1f20;
}
#sidebar .chatroom-container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    cursor: pointer;
    font-size: 12px;
    background: #1d1f20;
}
#sidebar .chatroom-container .title div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #1d1f20;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#sidebar .chatroom-container .title .title-active{
    background: #454b52;
    color: #1d1f20;
}
#sidebar .chatroom-container .block{
    flex: 2;
    height: 0;
    background: #454b52;
}
#sidebar .chatroom-container .block .message-area-1{
    list-style: none;
    padding: 5px 10px;
    background: #454b52;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-2{
    background: #454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-3{
    background:#454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-4{
    background: #454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-1 li{
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-2 li{
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-3 li{
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-4 li{
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-1 li audio{
    outline: none;
    width: 270px;
    height: 17px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-2 li audio{
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-3 li audio{
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-4 li audio{
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .chatroom-active{
    display: block;
}
#sidebar .chatroom-container .message-input form{
    position: relative;
    margin-bottom: 0;
    display: none;
}
#sidebar .chatroom-container .message-input form .checkbox{
    height: 30px;
    width: 100%;
    background: #7e8185;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;
}
#sidebar .chatroom-container .message-input form .checkbox input{
    padding-left: 10px;
    width: 90%;
    background: #7e8185;
    outline: none;
    overflow-y: auto;
    border: none;
    cursor: auto;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 100%;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-1{
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-2{
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-3{
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-4{
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-1{
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-2{
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-3{
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-4{
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .microphone-active{
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .submit{
    background: #454b52;
    border: none;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    color: #ffffff;
}
#sidebar .chatroom-container .message-input form .submit:hover{
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input .message-active{
    display: flex;
}
#sidebar .chatroom-container .medal-title{
    background: #1d1f20;
    padding: 5px 10px;
    height: 35px;
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .medal{
    flex: 1.5;
    background: #454b52;
    height: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .medal .medal-image{
    display: flex;
    flex-wrap: wrap;
}
#sidebar .chatroom-container .medal .medal-image div{
    width: 90px;
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience{
    flex: 0.4;
    padding: 5px 10px;
    overflow-y: auto;
    font-size: 14px;
}
#sidebar .chatroom-container .experience .level{
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .level i{
    margin-left: 10px;
    color: #ffffff;
    background: #1d1f20;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .chatroom-container .experience .bar{
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .bar .bar-image::-webkit-progress-bar{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #000000 inset;
}
#sidebar .chatroom-container .experience .bar .bar-image::-webkit-progress-value{
    background-image:
    -webkit-linear-gradient(left, #ff4444, #ff4444);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#sidebar .chatroom-container .experience .bar .bar-value{
    margin-left: 10px;
    font-size: 10px;
}
#sidebar .chatroom-container .experience .next-level{
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .next-level i{
    margin-left: 10px;
    color: #ffffff;
    background: #1d1f20;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .top{
    height: 50px;
    padding-left: 20px;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
}
#content .top .button{
    display: flex;
    align-items: center;
}
#content .top .button .btn-dark{
    border: solid 1px #454b52;
}
#content .top .button .top-left-title{
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 45px;
}
#content .top .button .top-title{
    color: #ffffff;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}
#content .top .button .top-title:hover{
    color: #1d1f20;
}
#content .top .button .top-title .search-player-name{
    width: 120px;
    outline: none;
    cursor: auto;
}
#content .top .button .top-title .player-search{
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
#content .top .button .top-title .player-search:hover{
    color: #1d1f20;
}
#content .top .header{
    display: flex;
}
#content .top .header .dropdown .btn .icon{
    height: 35px;
    width: 35px;
    border-radius: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .top .header .dropdown .btn .icon #icon-picture{
    height: 35px;
    width: 35px;
    border-radius: 70px;
    object-fit: cover;
}
#content .top .header .dropdown .dropdown-menu{
    right: 0;
    left: auto;
    background: #1d1f20;
    top: 47px;
    font-size: 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 200px;
}
#content .top .header .dropdown .dropdown-menu .dropdown-item{
    padding-left: 10px;
    padding-right: 10px;
    color: #aaaaaa;
    cursor: pointer;
}
#content .top .header .dropdown .dropdown-menu .dropdown-item:hover{
    background: #7e8185;
    color: #1d1f20;
}
#content .top .header .dropdown .dropdown-menu .user-info .username{
    margin-bottom: 5px;
}
#content .top .header .dropdown .dropdown-menu .user-info .email-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#content .top .header .dropdown .dropdown-menu .user-info .email-wrap .email{
    color: #454b52;
}
#content .top .header .dropdown .dropdown-menu .user-info:hover{
    background: #1d1f20;
    color: #aaaaaa;
}
.main-area{
    flex: 1;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 0;
    position: relative;
}
.main-area .preference .second-full-display{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: auto;
    z-index: 1;
    display: none;
}
.main-area .preference .sound-area{
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.6);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding: 10px;
    border-radius: 2px;
    position: relative;
    height: 93px;
    width: 320px;
}
.main-area .preference .sound-area .crosscolor{
    position: absolute;
    right: -12px;
    top: -10px;
}
.main-area .preference .sound-area .crosscolor .imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #454b52;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.main-area .preference .sound-area .crosscolor .imageflex i{
    font-size: 15px;
}
.main-area .preference .sound-area .crosscolor .imageflex:hover{
    background: #161616;
}
.main-area .preference .sound-area .first-part{
    font-size: 14px;
}
.main-area .preference .sound-area .first-part .language{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.main-area .preference .sound-area .first-part .language .language-area{
    width: 130px;
    text-align: left;
}
.main-area .preference .sound-area .first-part .language .language-area input{
    width: 128px;
    background: #7e8185;
    color: #ffffff;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 10px;
    height: 20px;
}
.main-area .preference .sound-area .first-part .background-sound{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.main-area .preference .sound-area .first-part .background-sound #start-bgm{
    position: absolute;
    left: 138px;
    bottom: 39px;
    outline:none;
}
.main-area .preference .sound-area .first-part .background-sound .tune{
    display: flex;
    align-items: center;
}
.main-area .preference .sound-area .first-part .background-sound .tune .background-song{
    width: 45px;
    height: 18px;
    background: #7e8185;
    color: #ffffff;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 10px;
}
.main-area .preference .sound-area .first-part .background-sound .tune #bgm-volume{
    width: 80px;
    margin-left: 5px;
}
.main-area .preference .sound-area .first-part .instruction-sound{
    display: flex;
    justify-content: space-between;
}
.main-area .preference .sound-area .first-part .instruction-sound #start-instruction{
    position: absolute;
    left: 138px;
    bottom: 11px;
    outline:none;
}
.main-area .preference .sound-area .first-part .instruction-sound #effect-volume{
    width: 132px;
}
.main-area .third-full-display{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: auto;
    z-index: 1;
    display: none;
}
.main-area .friend-area{
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.6);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 2px;
    position: relative;
    height: 360px;
    overflow-y: auto;
}
.main-area .friend-area .crosscolor{
    position: absolute;
    right: -12px;
    top: -10px;
}
.main-area .friend-area .crosscolor .second-imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #454b52;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: fixed;
    right: -12px;
}
.main-area .friend-area .crosscolor .second-imageflex i{
    font-size: 15px;
}
.main-area .friend-area .crosscolor .second-imageflex:hover{
    background: #161616;
}
.main-area .friend-area .friend-list .friend-list-title{
    font-weight: 700;
    padding-bottom: 10px;
}
.main-area .friend-area .friend-list .table{
    margin-bottom: 0;
}
.main-area .friend-area .friend-list .table ul{
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 0;
}
.main-area .friend-area .friend-list .table ul li{
    display: flex;
    position: relative;
}
.main-area .friend-area .friend-list .table ul li .ranking-name{
    border: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul li .ranking-number{
    border-right: solid 1px #7e8185;
    border-top: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul li .online-time{
    border-right: solid 1px #7e8185;
    border-top: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-name{
    border-left: solid 1px #7e8185;
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-weight: 600;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-name:hover{
    color: #ffffff;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-number{
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-online-time{
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend{
    position: absolute;
    width: 50px;
    border: solid 1px #7e8185;
    padding: 2px 5px;
    border-radius: 2px;
    background: rgba(173, 173, 173, 0.9);
    text-align: left;
    top: -5px;
    left: 80px;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend .remove-friend-word{
    cursor: pointer;
    font-size: 10px;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend .remove-friend-word:hover{
    color: #ffffff;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend i{
    position: absolute;
    color: #1d1f20;
    left: -8px;
    top: 10px;
}
.update-success-center{
    display: flex;
    justify-content: center;
}
.update-success-area{
    background: #cedb92;
    color: #6f774b;
    width: 590px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.update-success-area-word{
    padding: 10px;
}
.signup-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.signup-container #signup-form{
    display: block;
}
.signup-container #signup-form .filechosen{
    display: flex;
    width: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 1px #e2e2e2;
}
.signup-container #signup-form .filechosen .icon-word{
    margin-right: 30px;
}
.signup-container #signup-form .filechosen .like-icon{
    display: flex;
    align-items: center;
}
.signup-container #signup-form .filechosen .circle{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: solid #000000 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.signup-container #signup-form .filechosen .circle img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}
.signup-container #signup-form .filechosen .circle i{
    font-size: 40px;
}
.signup-container #signup-form .filechosen .icon-other-word{
    font-size: 10px;
    font-weight: 400;
    opacity: 90%;
    margin-left: 50px;
}
.signup-container #signup-form .filechosen .icon-other-word input{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    color: #161616;
    padding: 0;
}
.signup-container #signup-form .filechosen .icon-other-word input:hover{
    color: #c0e8fa;
}
.signup-container #signup-form .same-line{
    margin-top: 15px;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
}
.signup-container #signup-form .same-line .information{
    display: block;
}
.signup-container #signup-form .same-line .setting{
    font-weight: 600;
    margin-right: 40px;
}
.signup-container #signup-form .same-line .minor{
    font-size: 10px;
    font-weight: 400;
    opacity: 50%;
}
.signup-container #signup-form .same-line .information .signup-word{
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 500;
}
.signup-container #signup-form .same-line .information .signup-data-username{
    font-size: 12px;
}
.signup-container #signup-form .same-line .information .signup-data-username input{
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #adadad 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 165px;
    height: 26px;
    cursor: auto;
}
.signup-container #signup-form .same-line .information .show-used{
    font-size: 10px;
    height: 17px;
    color:#ff0000;
    display:flex;
    justify-content: flex-start;
}
.signup-container #signup-form .same-line .information .signup-data{
    margin-bottom: 12px;
    font-size: 12px;
}
.signup-container #signup-form .same-line .information .signup-data input{
    margin-bottom: 4px;
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #adadad 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 165px;
    height: 26px;
    cursor: auto;
}
.signup-container #signup-form .same-line .information .signup-data-old{
    font-size: 12px;
}
.signup-container #signup-form .same-line .information .signup-data-old input{
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #adadad 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 165px;
    height: 26px;
    cursor: auto;
}
.signup-container #signup-form .same-line .information .show-used-email{
    font-size: 10px;
    height: 17px;
    color:#ff0000;
    font-weight: 400;
}
.signup-container #signup-form .same-line .information .signup-data-game{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 12px;
}
.signup-container #signup-form .same-line .information .signup-data-game input{
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #adadad 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 165px;
    height: 26px;
    cursor: auto;
}
.signup-container #signup-form .same-line .information .signup-data-bio textarea{
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #adadad 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    font-size: 12px;
    width: 350px;
}
.signup-container #signup-form .same-line .information .minor{
    margin-bottom: 17px;
}
.signup-container #signup-form .same-line .information .public-profile{
    padding-top: 10px;
    border-top: solid 1px #e2e2e2;
    font-size: 13px;
    font-weight: 500;
}
.signup-container #signup-form .same-line .information .bottom{
    display: flex;
    font-size: 12px;
    align-items: center;
    font-weight: 300;
    margin-bottom: 17px;
}
.signup-container #signup-form .same-line .information .bottom .third-party{
    margin-left: 10px;
}
.signup-container #signup-form .confirmbutton{
    display: flex;
    justify-content: center;
}
.signup-container #signup-form .confirmbutton input{
    background: none;
    border: none;
    cursor: pointer;
    color: #161616;
    font-weight: 700;
    outline: none;
}
.signup-container #signup-form .confirmbutton input:hover{
    color: #c0e8fa;
}
.signup-container .show-unmatch{
    font-size: 13px;
    height: 13px;
    color: #ffcc00;
    text-align: center;
}
@media(max-width: 1200px){
    .main-area .game-container .row .col-xl-3 .notice-board{
        width: 400px;
    }
    .main-area .game-container .row .col-xl-3 .notice-board{
        margin-left: 20px;
    }
    .main-area .game-container .row .col-xl-9 .gameroom-join .room-information{
        width: 45%;
    }
}
@media(max-width: 1180px){
    .main-area .game-container .introduction-1 .create-room-container .player-number{
        width: auto;
        display: block;
    }
    .main-area .game-container .introduction-1 .create-room-container .player-number input{
        margin-left: 0;
    }
    .main-area .game-container .introduction-1 .create-room-container .score{
        display: block;
    }
    .main-area .game-container .introduction-1 .create-room-container .score input{
        margin-left: 0;
    }
}
@media(max-width: 1115px){
    .main-area .game-container .introduction-1 video{
        overflow-x: auto;
    }
    .main-area .game-container .introduction-1 .game-rule{
        display: none;
    }
}
@media(max-width: 800px){
    .main-area .game-container .row .col-xl-3 .notice-board{
        width: 100%;
    }
    #content .top .button .top-left-title{
        display: none;
    }
}
@media(max-width: 768px){
    .main-area .game-container .row .col-xl-9 .gameroom-join .room-information{
        width: 100%;
    }
}
@media(max-width: 530px){
    #content .top .button .search{
        display: none;
    }
}
.top-left-title{
    cursor: pointer;
}